@import 'tailwindcss';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

#app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
